/* --- General CSS Variables --- */
@font-face {
    font-family: 'Cascadia';
    src: url('fonts/Cascadia.ttf') format('truetype');
}

@font-face {
    font-family: 'Selawik';
    src: url('fonts/Selawik.ttf') format('truetype');
}

/* 1C stands for a multiple of 8px, so 1C = 8px, 2C = 16px, etc. */
:root {
    --spacing-unit: 8px;
    --bg-color: #131313;
    --text-color: #B1B3B5;
    --font-size: 16px;
    --max-width: 576px;

    /* Variables for code styling */
    --code-bg-color: #1e1e1e;
    --code-text-color: #dcdcdc;
    --code-border-color: #333;
    --code-line-number-color: #858585;
    --code-copy-button-bg: #333333;
    --code-copy-button-text: #fff;
}

/* Set default background and text color, apply custom font, and limit max-width */
body {
    font-family: 'Selawik';
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--font-size);
    padding: calc(5 * var(--spacing-unit));
    max-width: var(--max-width);
    margin: 0 auto;
}

/* Full width on smaller screens */
@media (max-width: 768px) {
    body {
        max-width: 100%;
        padding: calc(3 * var(--spacing-unit));
    }
}

/* Further adjustments for very small screens (phones) */
@media (max-width: 576px) {
    body {
        max-width: 100%;
        padding: calc(2 * var(--spacing-unit));
    }
}

/* --- Header Styles --- */

.header {
    text-align: left;
    margin-bottom: calc(3 * var(--spacing-unit));
}

.logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: var(--spacing-unit);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Selawik';
    color: #FFFFFF;
    font-weight: 300;
}

/* --- Navigation Bar --- */

.navbar {
    display: flex;
    justify-content: flex-start;
    gap: calc(2 * var(--spacing-unit));
    padding: var(--spacing-unit) 0;
    flex-wrap: wrap;
}

.navbar a {
    text-decoration: none;
    color: var(--text-color);
}

/* --- Main Content Styles --- */

.content {
    padding: calc(2 * var(--spacing-unit)) 0;
}

/* --- Miscellaneous --- */

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #FFFFFF;
}

a:hover {
    color: #B1B3B5;
}

ul {
    padding-left: calc(2 * var(--spacing-unit));
    list-style-position: outside;
}

/* Syntax Highlighting */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #6a9955;
}

.token.punctuation {
    color: #d4d4d4;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
    color: #569cd6;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
    color: #d69d85;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
    color: #d4d4d4;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
    color: #c586c0;
}

.token.regex,
.token.important {
    color: #d16969;
}

.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

/* --- Code Snippet Styles --- */


.copy-to-clipboard-button {
    position: absolute;
    top: calc(1 * var(--spacing-unit));
    right: calc(1 * var(--spacing-unit));
    color: var(--code-copy-button-text);
    padding: calc(0.5 * var(--spacing-unit)) !important;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}

.copy-to-clipboard-button:hover {
    background-color: #444;
}

/* Code block styling */
pre {
    background-color: var(--code-bg-color);
    color: var(--code-text-color);
    border: 1px solid var(--code-border-color);
    border-radius: 5px;
    position: relative; 
}

pre code[class*="language-"] {
    font-family: 'Cascadia', monospace;
    font-size: 12px !important;
    display: inline-block;
    padding-right: calc(1 * var(--spacing-unit));
}
/* Line numbers styling */
pre .line-numbers-rows {
    position: absolute;
    top: calc(1 * var(--spacing-unit));
    width: calc(3 * var(--spacing-unit)) !important;
    color: var(--code-line-number-color);
}

